.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  height: 60px;
  padding: 0 20px;
  margin: 0 0 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.header-logo {
  width: 40px;
  height: auto;
}

.nav-bar {
  flex-grow: 1;
  text-align: ce1nter;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  display: inline;
  margin-right: 20px;
}

ul li:last-child {
  margin-right: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

.button-container {
  display: flex;
  gap: 10px;}

.login-button,
.register-button {
  background-color: #0568e8;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.login-button:hover,
.register-button:hover, 
.login-button:focus,
.register-button:focus {
  background-color: #0656d1;
}
